@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-party-doodle-happy-birthday-ornaments-background-pattern_111016-231.jpg?w=2000');
    background-size: cover;
    overflow-x: hidden;
}

#heading{
    background-color: #006699;
    color: #fff;
    padding: 15px;
    margin-top: -10px;
    width: 100%;
    margin-left: -10px;
}

#fontSizeSect{
    font-size: 20px;
    margin-top: 10px;
}

#footer{
    background-color: #006699;
    color: #fff;
    padding: 15px;
    width: 100%;
    margin-left: -10px;
    bottom: -21px;
    position: fixed;
}

canvas{
    border: 10px solid #006699;
    border-radius: 10px;
}